<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>修改员工信息</title>
    <link rel="stylesheet" type="text/css" href="/css/acc_rank.css" />
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/icons.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/app.min.css" rel="stylesheet" type="text/css">
    <style type="text/css">
        body{
            background: url("/img/2044833.jpg") no-repeat;
            background-size: 100% 137% ;
        }
        .login-form{
            margin-top: 30%;
            margin-bottom: 40%;
            width: 500px;
            background: #f1f1f1;
            height: 800px;
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 40px;
            padding-right: 40px;
            border-radius: 20px;
            position: absolute;
            left: 41%;
            top: 30%;
            transform: translate(-50%, -50%);
        }

        .login-form h1{
            text-align: center;
            margin-bottom: 60px;
        }

        .txtb{
            border-bottom: 2px solid #adadad;
            position: relative;
            margin: 10px 0;
        }
        .txtb1{
            position: relative;
            margin: 5px 0;
        }

        .txtb input{
            font-size: 15px;
            color: #333;
            border: none;
            width: 100%;
            outline: none;
            background: none;
            padding: 0 5px;
            height: 40px;
        }
        .txtb1 input{
            font-size: 15px;
            color: #333;
            border: none;
            width: 100%;
            outline: none;
            background: none;
            padding: 0 5px;
            height: 40px;
        }

        .txtb span::before{
            content: attr(data-placeholder);
            position: absolute;
            top: 50%;
            left: 5px;
            color: #adadad;
            transform: translateY(-50%);
            z-index: -1;
            transition: .5s;
        }
        .txtb1 span::before{
            content: attr(data-placeholder);
            position: absolute;
            top: 50%;
            left: 5px;
            color: #adadad;
            transform: translateY(-50%);
            z-index: -1;
            transition: .5s;
        }

        .txtb span::after{
            content: '';
            position: absolute;
            left: 0%;
            top: 100%;
            width: 0%;
            height: 2px;
            background: linear-gradient(120deg, #A6DCEF, #E36387);
            transition: .5s;
        }
        .txtb1 span::after{
            content: '';
            position: absolute;
            left: 0%;
            top: 100%;
            width: 0%;
            height: 2px;
            background: linear-gradient(120deg, #A6DCEF, #E36387);
            transition: .5s;
        }

        .focus + span::before{
            top: -5px;
        }

        .focus + span::after{
            width: 100%;
        }

        .logbtn{
            display: block;
            width: 100%;
            height: 50px;
            border: none;
            background: linear-gradient(120deg, #88304E , #E23E57, #311D3F);
            background-size: 200%;
            color: #F7FBFC;
            outline: none;
            font-size: 20px;
            cursor: pointer;
            transition: .5s;
        }

        .logbtn:hover{
            background-position: right;
        }

        .bottom-text{
            margin-top: 60px;
            text-align: center;
            font-size: 13px;
        }


    </style>
</head>
<body id="body" class="dark-sidebar">
<div class="page-wrapper">
    <div class="backiicon">
        <a class="nav-link" href="/acc_paylist" >
            <i class="fa fa-reply-all menu-icon"></i>
        </a>
    </div>
    <div class="page-content-tab">
        <div class="container-fluid">
            <div class="row">

                <div class="card-body" >
                    <div class="login-form">
                        <table cellspacing="0" cellpadding="20">
                            <tr><td class="tde" colspan="3">底薪</td></tr>
                            <%res.forEach((item,index)=>{%>
                            <form action="/acc_rank/edu?id=<%=item.id%>" method="post" enctype="application/x-www-form-urlencoded">
                                <tr>
                                    <td class="tds"><%=item.education%></td>
                                    <td><input type="number" name="edu_money" id="" value="<%=item.edu_money%>" min="0" /></td>
                                    <td><input type="submit" name=""  value="提交" class="btn btn-primary"/></td>
                                </tr>
                            </form>
                            <%})%>
                            <tr><td class="tde" colspan="3">津贴</td></tr>
                            <%result.forEach((item,index)=>{%>
                            <form action="/acc_rank/sta?id=<%=item.id%>" method="post" enctype="application/x-www-form-urlencoded">
                                <tr>
                                    <td class="tds"><%=item.sta_name%></td>
                                    <td><input type="number" name="sta_money" id="" value="<%=item.sta_money%>" min="0" /></td>
                                    <td><input type="submit" name="" value="提交" class="btn btn-primary"/></td>
                                </tr>
                            </form>
                            <%})%>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/script/jquery-3.4.1.min.js"></script>
<script src="static/js/apexcharts.min.js"></script>
<script src="static/js/analytics-index.init.js"></script>
<script src="static/js/app.js"></script>
</body>
</html>